__pycache__
.current
kaneton/core/version.c
kaneton/kaneton
environment/env.mk
environment/env.py
boot/loader/ibm-pc.ia32/educational/loader
*.o
*.lo
*.map
*.toc
*.snm
*.pdf
*.out
*.log
*.nav
*.bbl
*.blg
*.aux
*.vrb
*.cap
*.db
*.tar.bz2
*.pyc
.dependency.*
